<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Start Banner Hero -->
    <div
      id="template-mo-zay-hero-carousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="1"
        ></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img
                  class="img-fluid"
                  src="./assets/img/banner_img_01.jpg"
                  alt=""
                />
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                  <h1 class="h1 text-success"><b>bas1cs styling</b></h1>
                  <p>
                    <em>Bas1cs Styling is a trendy store offering a curated selection 
                    of stylish clothes, shoes, and accessories for all occasions. 
                    With a focus on modern fashion and everyday essentials, the 
                    store combines quality with affordability. Whether you're 
                    looking for casual wear, statement footwear, or the perfect 
                    accessories to complete your outfit, Bas1cs Styling has 
                    something for everyone.</em>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img
                  class="img-fluid"
                  src="./assets/img/style-blogs-the-gq-eye-rockyid.jpg"
                  alt=""
                  style="margin-left: 180px;"
                />
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1 text-success"><b>Be incharge!</b></h1>
                  <p>
                    <em>Take charge of your style and make a statement—don't  
                      just blend in, stand out! Fashion is more than just clothing;  
                      it's a reflection of your personality and confidence. Dare to  
                      be different, break the mold, and create a look that's  
                      uniquely yours. Own your style, set trends, and leave an  
                      impression wherever you go!</em>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev text-decoration-none w-auto ps-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        data-bs-slide="prev"
      >
        <i class="fas fa-chevron-left"></i>
      </a>
      <a
        class="carousel-control-next text-decoration-none w-auto pe-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        data-bs-slide="next"
      >
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Categories of The Month -->
    <section class="container py-5">
      <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h1">Categories of The Month</h1>
          <p>
            Explore this month’s top categories, carefully selected to bring 
            you the best trends and timeless styles. From the latest fashion 
            finds to must-have accessories, our curated collection 
            has something for every taste and occasion.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#shop"
            ><img
              src="./assets/img/hoodie-clothes.jpg"
              class="rounded-circle img-fluid border"
          /></a>
          <h5 class="text-center mt-3 mb-3">Clothing</h5>
          <p class="text-center">
            <a href="#shop" class="btn btn-success">Go Shop</a>
          </p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#shop"
            ><img
              src="./assets/img/patike-shoes.jpg"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
          <p class="text-center">
            <a href="#shop" class="btn btn-success">Go Shop</a>
          </p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#shop"
            ><img
              src="./assets/img/category_img_03.jpg"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
          <p class="text-center">
            <a href="#shop" class="btn btn-success">Go Shop</a>
          </p>
        </div>
      </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    <section class="bg-light">
      <div class="container py-5">
        <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
            <h1 class="h1">Featured Products</h1>
            <p>Discover our carefully curated selection of premium garments, designed to seamlessly blend style, comfort, and quality, ensuring you make a statement with every piece.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="#shop-single">
                <img
                  src="./assets/img/adidasTee.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$40.00</li>
                </ul>
                <a href="#shop-single" class="h2 text-decoration-none text-dark"
                  >Adidas T-shirt</a
                >
                <p class="card-text">
                  Adidas T-shirt for men.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="#shop-single">
                <img
                  src="./assets/img/patike-nike.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$180.00</li>
                </ul>
                <a href="#shop-single" class="h2 text-decoration-none text-dark"
                  >Nike Air Max 90</a
                >
                <p class="card-text">
                  Summer sensation!
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="#shop-single">
                <img
                  src="./assets/img/sat-gshock.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$260.00</li>
                </ul>
                <a href="#shop-single" class="h2 text-decoration-none text-dark"
                  >Casio G-SHOCK</a
                >
                <p class="card-text">
                  Best for this price range.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Product -->
  </body>
</html>
