<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Switf - Express Yourself In Every Stitch</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!-- Start Login Page -->
    <section class="bg-light">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-6">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-8 col-lg-8 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form id="login-form">
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <img
                          src="assets/img/logos/swift-logos/swift-50.png"
                          alt=""
                        />
                        <span class="h1 fw-bold mb-0">Swift</span>
                      </div>

                      <h5 class="fw-normal mb-3 pb-3">
                        Sign into your account
                      </h5>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="login-email"
                          >Email address</label
                        >
                        <input
                          type="email"
                          id="login-email"
                          class="form-control form-control-lg"
                          name="email"
                        />
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="login-password"
                          >Password</label
                        >
                        <input
                          type="password"
                          id="login-password"
                          class="form-control form-control-lg"
                          name="pwd"
                        />
                      </div>

                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-success btn-lg btn-block"
                          type="submit"
                        >
                          Login
                        </button>
                      </div>

                      <p class="mt-5">Don't have an account?</p>
                      <a
                        href="#register"
                        class="btn btn-outline-secondary mb-5 pb-lg-2"
                        >Register here</a
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Login Page -->

    <!-- Start Script -->
    <script src="assets/js/login.js"></script>
    <!-- End Script -->
  </body>
</html>
